@model ProyectoEDII.Models.Usuarios
@{
    /**/
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>
<div class="jumbotron">
    <p class="lead">
        @using (Html.BeginForm("Eliminar", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Usuario</h2>
            <input type="text" name="user"/>
            <br/>

            <input type="submit" value="Eliminar" class="btn btn.outline-success"/>
            //<div><h6 style="color:blueviolet";>@ViewBag.AccionIlegal</h6></div>
        }
    </p>
</div>
